<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Morning</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td>Introduction to Coding in Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:45</td>        <!-- time    -->
        <td>DataFrames in Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Afternoon</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00</td>        <!-- time    -->
        <td>Plotting in Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:30</td>        <!-- time    -->
        <td>Afternoon Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:45</td>        <!-- time    -->
        <td>Advanced Python Topics</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>3:45</td>        <!-- time    -->
        <td>Conclusion</td>        <!-- content -->
      </tr>      
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
